body {
	background-color: Gainsboro;
	font-family: "DejaVu Serif", "Bitstream Vera Serif", "Noto Serif", Georgia, serif;
}

#page {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

nav {
	width: 100%;
	float: left;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

nav li {
	float: left;
	list-style-type: none;
}

nav li a {
	display: block;
	margin: 0px 4px 4px 0px;
	background-color: white;
	padding: 8px 1em;
	text-decoration: none;
}

#holding-body {
	background-color: white;
	float: left;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}

#body-area {
	margin: auto;
	width: 90%;
	height: 90%;
}

footer {
	float: left;
	clear: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#self {
	float: right;
	margin-left: 30px;
}

.caption {
	margin-top: 5px;
}

.errmsg {
	font-family: monospace;
	margin-left: -50px;
}

.panic {
	padding-top: 2em;
	padding-bottom: 2em;
}
