body {
	background-color: Gainsboro;
	font-family: "DejaVu Serif", "Bitstream Vera Serif", "Noto Serif", Georgia, serif;
}

ol {
	list-style-type: disc;
}

.gallery {
	max-height: 300px;
	margin: 5px;
}

table, td {
	border: 1px solid black;
}

footer {
	margin-top: 10px;
}
