@font-face {
    font-family: 'pong_scoreregular';
    src: url('pong-score-webfont.eot');
    src: url('pong-score-webfont.eot?#iefix') format('embedded-opentype'),
         url('pong-score-webfont.woff2') format('woff2'),
         url('pong-score-webfont.woff') format('woff'),
         url('pong-score-webfont.ttf') format('truetype'),
         url('pong-score-webfont.svg#pong_scoreregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
